@page
@model WebApp7Starter.Pages.Students.IndexModel
@{
	ViewData["Title"] = "Add Student";
}

<h1>Add new Student</h1>

<form method="POST">
	<div class="mb-3">
		<label>Student Id</label>
		<input asp-for="InsertStudentDTO.Id" class="form-control" />
		<span asp-asp-validation-for="InsertStudentDTO.Id" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label>Firstname Id</label>
		<input asp-for="InsertStudentDTO.Firstname" class="form-control" />
		<span asp-asp-validation-for="InsertStudentDTO.Id" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label>Lastname Id</label>
		<input asp-for="InsertStudentDTO.Id" class="form-control" />
		<span asp-asp-validation-for="InsertStudentDTO.Lastname" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>